.commerce-product-variation-radios {
  display: flex;
  justify-content: space-between;
}

.commerce-product-variation-radio input {
  height: 0;
  width: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
  display: none;
}

.commerce-product-variation-radio input:checked + label {
  background: rgba(0, 0, 0, 0.3);
}
